{% extends 'products/adminbase.html' %}

{% block nav %}
<div class="navbar-nav w-100">
    <a href="{% url 'products:Admin_Home' %}" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Dashboard</a>
    <a href="{% url 'products:customer_list' %}" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Customer</a>
    <a href="{% url 'products:category_list' %}" class="nav-item nav-link"><i class="fa fa-file-alt me-2"></i>Categories</a>
    <a href="{% url 'products:product_list' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Products</a>
    <a href="{% url 'products:variation_list' %}" class="nav-item nav-link active"><i class="fa fa-clone me-2"></i>Variations</a>
    <a href="form.html" class="nav-item nav-link"><i class="fa fa-truck me-2"></i>Orders</a>
    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Banner</a>
    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Coupons</a>
</div>
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Product Variation Panel</h2>
</div>
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info">Add New Variation</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success" value="Add">
            <a href="{% url 'products:variation_list' %}" class="btn btn-info">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
