{% extends 'products/adminbase.html' %}
{% load static %}

{% block nav %}
<div class="navbar-nav w-100">
    <a href="{% url 'products:Admin_Home' %}" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Dashboard</a>
    <a href="{% url 'products:customer_list' %}" class="nav-item nav-link active"><i class="fa fa-user me-2"></i>Customer</a>
    <a href="{% url 'products:category_list' %}" class="nav-item nav-link"><i class="fa fa-file-alt me-2"></i>Categories</a>
    <a href="{% url 'products:product_list' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Products</a>
    <a href="{% url 'products:variation_list' %}" class="nav-item nav-link"><i class="fa fa-clone me-2"></i>Variations</a>
    <a href="form.html" class="nav-item nav-link"><i class="fa fa-truck me-2"></i>Orders</a>
    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Banner</a>
    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Coupons</a>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar d-flex alert alert-info justify-content-between">
              <h3 >Show User Details</h3>
              <form class="form-inline d-flex">
                <input class="form-control mr-sm-2" name ="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>
            {% if users %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Active</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  <tr>
                    <th scope="row">{{user.first_name}}</th>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone_number}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>{{user.last_login}}</td>
                    <td>{{user.is_active}}</td>
                    <td>
                      {% if user.is_active%}
                        <form action="{% url 'products:block_user' user.id %}" method="post" class="d-inline">{% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm" value="Block">
                        </form>
                      {% else %}
                        <form action="{% url 'products:unblock_user' user.id %}" method="post" class="d-inline">{% csrf_token %}
                          <input type="submit" class="btn btn-success btn-sm" value="Unblock">
                        </form>
                      {% endif %}
                    </td> 
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <h3 class="text-center alert alert-warning ">No Records Found</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}