{% extends 'products/adminbase.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar d-flex alert alert-info justify-content-between">
              <h3 >Orders</h3>
              <form class="form-inline d-flex">
                <input class="form-control mr-sm-2" name ="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              {% comment %} <a href = "{% url 'products:add_variation' %}" class ="btn btn-primary btn-sm">Add Variation</a> {% endcomment %}
            </nav>
            {% if orders %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Ordered User</th>
                    <th scope="col">Price</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status </th>
                    <th scope="col">Action </th>
                  </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                  <tr>
                    <th scope="row"><a href="{% url 'products:admin_orders_details' order.order_number %}" id="order_number" >{{order.order_number}}</a></th>
                    <td>{{order.user.full_name}}</td>
                    <td>{{order.order_total}}</td>
                    <td>{{order.created_at}}</td>
                    <td id="order_change{{order.order_number}}">{{order.status}}</td>
                    <td>
                      {% if order.status != 'Delivered' %}
                        <select class="float-right form-control" id="order-options" onchange="ChangeOrder({{order.order_number}})">
                          <option value=" ">{{order.status}}</option>
                            {% for stat in order.STATUS %}
                            <option value="{{ stat.0 }}" {% if choice.0 == order.status %}selected{% endif %}>{{ stat.1 }}</option>
                          {% endfor %}  
                         </select>
                      {% endif %}
                      </td>
                        {% comment %} {% url 'products:update_variation' var.id %} {% endcomment %}
                        {% comment %} <form action="{% url 'products:delete_variation' var.id %}" method="post" class="d-inline">{% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm mx-2" value="Delete">
                        </form> {% endcomment %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
                <h3 class="text-center alert alert-warning ">No Records Found</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function ChangeOrder(order_number){
      var url = "{% url 'products:change_order_status' %}"
      var csrftoken = getCookie('csrftoken');
      var option = document.getElementById("order-options").value
          // Call your server to finalize the transaction 
      fetch(url,{
          method : "POST",
          headers:{
              "Content-type":"application/json",
              "X-CSRFToken":csrftoken,
          },
          body:JSON.stringify({
            option:option,
            order_number:order_number
          }),
      })
      .then(async function (response){
          const data =await response.json()
          if(data){
            document.getElementById(`order_change${order_number}`).innerText = `${data.status}`
          }
      });
  }
</script>

{% endblock %}