{% extends 'products/adminbase.html' %}


{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Product Edit Panel</h2>
</div>
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info">Update Information</h4>
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            {{image_form|crispy}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'products:product_list' %}" class="btn btn-info">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
