{% extends 'base.html' %} 
{% load static %}
{% block title %}JOE&JEE | Home{% endblock %}

{% block nav%}
<ul>
    <li class="active"><a href="{% url 'joejee:Home' %}">Home</a></li>
    <li><a href="{% url 'joejee:Shop' %}">Shop</a></li>
    <li><a href="{% url 'joejee:Contact' %}">Contacts</a></li>
</ul>
{% endblock %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{% static 'joejee/img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>TV Collection</h6>
                                <h2>Smart - OLED Collections 2023</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://in.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static 'joejee/img/hero/hero-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Mobile Collection</h6>
                                <h2>Snapdragon 8 Gen 2- 256 GB Collections 2023</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="/tv" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="{% static 'joejee/img/banner/banner-1.jpg' %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Smartphone Collections </h2>
                            <a href="/mobile-phone">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="{% static 'joejee/img/banner/banner-2.jpg' %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Smart TV 2023</h2>
                            <a href="/tv">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="{% static 'joejee/img/banner/banner-3.jpg' %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Audio Devices</h2>
                            <a href="/audio">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">New Arrivals</li>
                        <li data-filter=".new-arrivals">limited Stock</li>
                            
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                {% for product in products %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix {% if product.stock < 5 %} hot-sales {% else %} new-arrivals {% endif %}">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{product.image.url}}">
                                {% if product.stock < 3 %}
                                <span class="label">Limited</span>
                                {% else %}
                                <span class="label">New</span>
                                {% endif %}
                                <ul class="product__hover">
                                    <li><a href="#"><img src="{% static 'joejee/img/icon/heart.png' %}" alt=""><span> wishlist</span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{product.product_name}}</h6>
                                <a href="{{product.get_url}}" class="add-cart">View Details</a>
                                <h5>{{product.price}}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Electronic Hot <br /> <span>Hot Selling</span> <br /> Accessories</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="{{first_product.image.url}}" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>₹ {{first_product.price}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>{{first_product.product_name}}</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="{{first_product.get_url}}" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'joejee/img/instagram/instagram-1.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'joejee/img/instagram/instagram-2.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'joejee/img/instagram/instagram-3.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'joejee/img/instagram/instagram-4.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'joejee/img/instagram/instagram-5.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'joejee/img/instagram/instagram-6.jpg' %}"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Electronically_yours</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    {% endblock %}

   