{% extends 'base.html' %} 
{% load static %}
{% block title %}JOE&JEE | Dashboard{% endblock %}


{% block nav%}
<ul>
    <li><a href="{% url 'joejee:Home' %}">Home</a></li>
    <li class="active"><a href="{% url 'joejee:Shop' %}">Shop</a></li>
    <li><a href="#">Pages</a>
        <ul class="dropdown">
            <li><a href="./about.html">About Us</a></li>
            <li><a href="./shop-details.html">Shop Details</a></li>
            <li><a href="./shopping-cart.html">Shopping Cart</a></li>
            <li><a href="./checkout.html">Check Out</a></li>
            <li><a href="./blog-details.html">Blog Details</a></li>
        </ul>
    </li>
    <li><a href="./contact.html">Contacts</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="section-conten padding-y bg p-5">

    <div class="container">
        <div class="row">
        {% include 'joejee/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Your Orders</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12"> 
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Order #</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Billing Name</th>
                                <th scope="col">Order Total</th>
                                <th scope="col">Payment </th>
                                <th scope="col">Status </th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                              <tr>
                                <th scope="row"><a href="{% url 'joejee:orders_details' order.order_number %}">{{order.order_number}}</a></th>
                                <td>{{order.created_at}}</td>
                                <td>{{order.full_name}}</td>
                                <td>₹ {{order.order_total}}</td>
                                <td>{{order.payment.payment_method}}</td>
                                <td>{{order.status}}</td>
                                <td>
                                    {% if order.status == 'Cancelled' %}
                                        <button class="btn btn-secondary " disabled>Cancelled</button>
                                    {% else %}
                                        <a href="{% url 'joejee:cancel_order' order.order_number %}" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure you want to Cancel this Order?')" >Cancel Order</a>
                                    {% endif %}
                                </td>
                            </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}