{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Confirm Order and Make Payment</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'joejee:Home' %}">Home</a>
                            <a href="{% url 'joejee:Shop' %}">Shop</a>
                            <span>Confirm Order</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="card mb-4">
                                <h5 class="card-header">Billing Address</h5>
                                <div class="card-body">
                                  <h5 class="card-title mb-0">{{order.full_name}}</h5>
                                  <p class="card-text mb-0">{{order.full_address}}</p>
                                  <p class="card-text mb-0">{{order.city}},{{order.state}}</p>
                                  <p class="card-text mb-0">{{order.country}}, PIN :{{order.pincode}}</p>
                                  <p class="card-text mb-0">{{order.email}}</p>
                                  <p class="card-text mb-0">{{order.phone}}</p>

                                </div>
                              </div>
                              <div class="card mb-4">
                                <h5 class="card-header">Payment methods</h5>
                                <div class="card-body">
                                  <h5 class="card-title">Paypal</h5>
                                  
                                </div>
                              </div>
                              <div class="card mb-4">
                                <h5 class="card-header">Review Products</h5>
                                <div class="card-body">
                                        <ul class="checkout__total__products">
                                        {% for cart_item in cart_items %}
                                            <li>
                                                <div class="row">
                                                    <div class="col-lg-2 col-sm-4">
                                                        <img style="width:70px" src="{{ cart_item.product.image.url }}" alt="cart_item">   
                                                    </div>
                                                    <div class="col-lg-6 col-sm-4 ">
                                                        <h5 class="card-title">{{cart_item.product.product_name}} X {{cart_item.quantity}}</h5>
                                                        <p class="text-muted small">
                                                            {% if cart_item.variation.all %}
                                                                {% for item in cart_item.variation.all %}
                                                                    {{item.variation_category | capfirst }} : {{item.variation_value | capfirst }}<br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <span>₹ {{cart_item.sub_total}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                              </div>  
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    {% for cart_item in cart_items %}
                                    <li>{{cart_item.product.product_name}} X {{cart_item.quantity}} <span>₹ {{cart_item.sub_total}}</span></li>
                                    {% endfor %}
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>₹ {{total}}</span></li>
                                    <li>Total Tax <span>₹ {{tax}}</span></li>
                                    <li>Shipping Charge <span>₹ 0</span></li>
                                    <hr>
                                    <li>Grand Total <span>₹ {{grand_total}}</span></li>
                                </ul>
                                
                                <div id="paypal-button-container">

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var price =( {{grand_total}}/84 ).toFixed(2)
        var amount = price
        var url = "{% url 'orders:payment' %}"
        var csrftoken = getCookie('csrftoken');
        var orderID = "{{order.order_number}}"
        var payment_method= 'PayPal'
        var redirect_url= "{% url 'orders:order_complete' %}"
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },
            
            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount:{
                            value: amount,
                        }
                    }]
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    console.log(details);
                    //logJSONData();
                    //async function logJSONData() {
                    //    const response = await fetch(url,{
                    sendData(); 
                    function sendData(){
                        fetch(url,{
                            method : "POST",
                            headers:{
                                "Content-type":"application/json",
                                "X-CSRFToken":csrftoken,
                            },
                            body:JSON.stringify({
                                orderID : orderID,
                                transID : details.id,
                                payment_method : payment_method,
                                status : details.status,
                            }),
                        })
                        .then(async function (response){
                        //.then((response) => response.json())
                        //.then((data) => {
                            const data =await response.json()
                            window.location.href = redirect_url+'?order_number='+data.order_number+'&payment_id='+data.transID;
                        });
                      }
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}
   